
flask_app/_pycache__
flask_app/instance
flask_app/*.env
*.env
__pycache__

venv/

.env

try*

chat_database_temp.db

logs/

updated_code.py
sample_code.py


*.dump

migrations/

*.pyc
alembic.ini


*.db

schema*.md


notebooks/
